*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
cmake-build-debug
.externalNativeBuild
.cxx
local.properties
/CMakeSettings.json
/out/
/assets/
/cmake-build-release/
/CMakeFiles/
/.idea/
